<div id='bizflow'>
<div ng-controller='bizFlowCtrl' class='container-fluid'>

    <div class='row-fluid' ng-repeat='(key, old) in history | filter:query'>
        <div class='span12'>
            <div history key="{{key}}"></div>
        </div>
    </div>

    <div class="tabbable">
        <ul class="nav nav-tabs">
            <li class="active"><a href="#tab1" data-toggle="tab">Планирование</a></li>
            <li><a href="#tab2" data-toggle="tab">Производство</a></li>
        </ul>
        <div class="tab-content tab-body">
            <div class="tab-pane active" id="tab1">

                <div class="row-fluid">
                    <div class="span12">

                    <div class="planning-header">
                    </div>
                    <div class="planning-store-label">
                        <div>
                            <h5>Склад</h5>
                        </div>
                    </div>
                    <div class="planning-workshop-label">
                        <div>
                            <h5>Цех</h5>
                        </div>
                    </div>
                    </div>
                </div>

                <br/>

                <div ng-repeat="input in recipes[planningRecipeName].inputs" id="planning-inputs">
                    <div comm-vessels label="{{getInputName(input, planningRecipeName)}}" proportion="{{input.pct}}" storageqty="50" workshopqty="{{input.onHand}}" critical="20" accuracy="{{input.accuracy}}" rounding="{{input.rounding}}" uom="{{input.UOM}}"></div>
                </div>

                <div id="planning-container" class="planning-container">
                    <div id="planning-content" class="planning-content">
                        <div ng-repeat="output in recipes[planningRecipeName].outputs">
                            <div planning label="{{getOutputName(output, planningRecipeName)}}" proportion="{{output.pct}}" accuracy="{{output.accuracy}}" rounding="{{output.rounding}}" uom="{{output.UOM}}"></div>
                        </div>  
                    </div>
                </div>

                <div class="planning-selecter">
                    <h4><b>Продукт:</b></h4>
                    <select ng-model='planningRecipeName' style='width: 85%'>
                        <option ng-repeat='recipe in recipes'>{{recipe.name}}</option>
                    </select>
                </div>

                <div class="planning-submit">
                    <h4><b>Действия:</b></h4>
                    <div class='submit-container'>
                        <form ng-submit="planningExecute()" style='margin-bottom: 10px;'>
                              <input class='btn btn-default btn-lg' type='submit' value="{{loading && 'Загрузка...' || 'Пуск'}}" ng-disabled="executeButtonDisabled()">
                        </form>
                    </div>
                </div>
            </div>

            <div class="tab-pane" id="tab2">
                <div class='row-fluid' id='productionInputs'>
                    <div ng-repeat='input in recipes[productionRecipeName].inputs' class='span{{inputSpanType()}}'>
                        <div cylinder type='input' label='{{getInputName(input, productionRecipeName)}}' proportion='{{input.pct}}' having='{{input.onHand}}' critical='{{input.critical}}' accuracy="{{input.accuracy}}" rounding="{{input.rounding}}" uom="{{input.UOM}}"></div>
                        <div class='arrow-input'></div>
                    </div>
                </div>

                <div class='row-fluid mixer-body'>
                    <div class='center-div'>
                        <h2><b>Операция:</b></h2>
                        <select ng-model='productionRecipeName'>
                            <option ng-repeat='recipe in recipes'>{{recipe.name}}</option>
                        </select>
                    </div>
                </div>

                <div class='row-fluid'>
                    <div ng-repeat='output in recipes[productionRecipeName].outputs' class='span{{outputSpanType()}}'>
                        <div class='arrow-output'></div>
                        <div cylinder type='output' label='{{getOutputName(output, productionRecipeName)}}' proportion='{{output.pct}}' accuracy="{{output.accuracy}}" rounding="{{output.rounding}}" uom="{{output.UOM}}"></div>
                    </div>
                </div>

                <div class='submit-container'>
                    <form ng-submit="productionExecute()">
                          <input class='btn btn-default btn-lg' type='submit' value="{{loading && 'Загрузка...' || 'Пуск'}}" ng-disabled="executeButtonDisabled()">
                    </form>
                </div>
            </div>
        </div>
    </div>

</div>
</div>
