// Place all the styles related to the Main controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


@import "bootstrap";
@import "bootstrap-responsive";

body {
    background-repeat:no-repeat;
}

.center {
	text-align: center;
}

.left {
	text-align: left;
}

.right {
	text-align: right;
}

.mixer-input {
	padding-bottom: 0.5em; 
	-webkit-border-radius:6px; 
	-moz-border-radius:5px;
	border-radius:6px;
	background-color: #EFEFFF; 
	-khtml-border-radius:10px;
}

.mixer-output {
	padding-bottom: 0.5em; 
	-webkit-border-radius:6px; 
	-moz-border-radius:5px;
	border-radius:6px;
	background-color: #FFE8DD; 
	-khtml-border-radius:10px;
}

.mixer-body { 
	-webkit-border-radius:6px; 
	-moz-border-radius:5px;
	border-radius:6px;
	background-color: #D8D8D8; 
	-khtml-border-radius:10px;
}

.arrow-input {
	position: relative;
	margin: 0 auto;
	width: 2em;
	height: 1.4em;
	background: #8785FF;
	font-size: 12px;
}

.arrow-input::before {
	position: absolute;
	bottom: -1.2em;
	left: -1em;
	border-top: 1.4em solid #8785FF;
	border-right: 2em solid rgba(44, 44, 44, 0);
	border-left: 2em solid rgba(44, 44, 44, 0);
	content: "";
}

.arrow-output {
	position: relative;
	margin: 0 auto;
	width: 2em;
	height: 1.4em;
	background: #FFA579;
	font-size: 12px;
}

.arrow-output::before {
	position: absolute;
	bottom: -1.2em;
	left: -1em;
	border-top: 1.4em solid #FFA579;
	border-right: 2em solid rgba(44, 44, 44, 0);
	border-left: 2em solid rgba(44, 44, 44, 0);
	content: "";
}

.over-max-false {
	color: #00c;
	border-bottom: 1px dashed #00c;
}

.over-max-true {
	color: #f00;
	border-bottom: 1px dashed #f00;
}