<!DOCTYPE html>
<html ng-app>
<head>
	<script type="text/javascript" src="/assets/Clarity.js"></script>

    <link rel="stylesheet" href="/assets/ClarityKit/ClarityKit.css" type="text/css">
    <script type="text/javascript" src="/assets/ClarityKit/mootools.js"></script>
    <script type="text/javascript" src="/assets/ClarityKit/BVTouchable.js"></script>
    <script type="text/javascript" src="/assets/ClarityKit/ClarityKit.js"></script>
    <script type="text/javascript" src="https://www.google.com/jsapi"></script>   

	<title>BizFlow</title>
	<%= stylesheet_link_tag    "application", media: "all" %>
	<%= javascript_include_tag "application", controller_name %>
	<%= csrf_meta_tags %>
</head>
<body>

	<%= yield %>

</body>
</html>