<!DOCTYPE html>
<html>
<head>
    <script type="text/javascript" src="/assets/cylinder/mootools.js"></script>
    <script type="text/javascript" src="/assets/cylinder/BVTouchable.js"></script>
    <script type="text/javascript" src="/assets/cylinder/cylinder.js"></script>
    <script type="text/javascript" src="/assets/planner/planner.js"></script>
    <script type="text/javascript" src="https://www.google.com/jsapi"></script>   

	<title>BizFlow</title>
	<%= stylesheet_link_tag    "application", media: "all" %>
	<%= javascript_include_tag "application", controller_name %>
	<%= csrf_meta_tags %>
	<script type="text/javascript" src="/assets/isotope/jquery.isotope.min.js"></script>

</head>
<body>

	<%= yield %>

</body>
</html>